/***************************
STEP 1 - class selector, id selector
***************************/


p {
	border-bottom: solid red 1px;
}

.kermit {
	border: solid green 2px;
	border-radius: 50%;
}

#main-div-1 {
	padding: 5%;
}


/***************************
STEP 2 - select child, descedatn, and sibling elements
***************************/

/*#main-div-2 > .kermit - would indicated direct child*/

/*kermit is decenedent in this example:*/
#main-div-2 .kermit {
	border: dotted purple 1px;
}

/*selects DIRECT CHILD ONLY*/
#main-div-2 > p {
	background-color: orange;
}

/*would select all p's at same level:*/
/*#main-div-2 ~ p {
	background-color: orange;
}*/

h2 ~ p {
	background-color: orange;
}


/******************************
STEP 3 
****************************/


#li-1 {
	font-size: 30px;
}

#li-2 {
	font-weight: bolder;
}

#li-3 {
	text-transform: uppercase;
}

#mystery-ul li:nth-child(2n+1) {
	font-family: frontage, sans-serif;
}

img {
	width: 200px;
	height: auto;
}


#flex-kermit {
	display: flex;
	flex-wrap: wrap;
}

#flex-kermit > img {
	width: 20%;
}



/***********************
VALIDATION STEP 4
***********************/

/*select the input for typing in email or URL*/
input {
	background-color: white;
}

/*validating:*/
input:valid {
	background-color: green;
}

input:invalid {
	background-color: red;
}
























